/*
couldn't figure out how to get around errors with hiding these in the inline
*/

.dynamic-asset_set .form-row.audiolength,
.dynamic-asset_set .form-row.project,
.dynamic-asset_set .form-row.session
 {
    display: none;
}

.dynamic-asset_set h3,
.dynamic-asset_set h3 label.vCheckboxLabel {
    background: #000;
    color: #fff;
}

span.delete {
    display: block;
    margin-bottom: 1em;
}

span.delete label {
    font-weight: bold;
}
