/*
couldn't figure out how to get around errors with hiding these in the inline
*/

.dynamic-asset_set .form-row.audiolength,
.dynamic-asset_set .form-row.project,
.dynamic-asset_set .form-row.session
 {
    display: none;
}

.dynamic-asset_set h3,
.dynamic-asset_set h3 label.vCheckboxLabel {
    background: #aaa;
    color: #fff;
}

span.delete {
    display: block;
    margin-bottom: 1em;
}

span.delete label {
    font-weight: bold;
}

.inline-group h2,
.dynamic-asset_set h3 b {
    padding: 1em 2em;
}

#select_assets_wrapper .ui-accordion-content-active {
    font-size: 80%;
    min-height: 300px !important;
}
