{% load i18n static %}
<div id="uimap_tag_order_field" class="sortedm2m-container">
    <div id="tag_order_inner">

        <ul>
        {% for row in vals %}
            <li class="sortedm2m"><label{{ row.label_for|safe }}>{{ row.rendered_cb }} {{ row.option_label }}</label></li>
        {% endfor %}

        <p class="help">
            {% trans "Select tags and order by drag &amp; drop.  The order you create here will be preserved in the UI.  Check a box next to a tag to add it to the UIGroup's default tags."  %}
        </p>
    </div>

</div>