.vagrant
vagrant_ansible_inventory_default
*.pyc
build
roundware/settings/local_settings.py

build
# Ignore collected static files (production static directory)
/var/www/roundware/static/
# But allow source static files to be tracked
!roundware/*/static/
local_settings.py
.coverage
.idea/*

roundware.egg-info/**/*
.DS_Store
