{% extends "admin/change_form.html" %}
{% load admin_urls i18n crispy_forms_tags formset_tags %}

{% block extrahead %}
{{ master_ui_edit_form.media }}
{% endblock %}

{% block breadcrumbs %}
  <ul class="breadcrumb">
  <li><a href="{% url 'admin:index' %}">{% trans 'Home' %}</a></li>
  <li><a href="{% url 'admin:app_list' app_label='rw' %}">Rw</a></li>
  <li>Setup Tag UI</li>
  </ul>
{% endblock %}

{% block content_title %}<a class="navbar-brand">Setup Tag UI</a>{% endblock %}

{% block content %}

<form id="setup_tag_ui_form" class="uniForm" method='post' action=''> 

        {% crispy master_ui_select_form master_ui_select_form.helper %}  

        <div style="clear:both"></div>

        <hr/>

        <div id="mui_edit_form_wrapper">
            {% include "setup_tags_ui_edit_form.html" %}
        </div>

</form>

{% endblock %}
