/* RW Custom Styles */

/* ------------------------------- */

#side-menu.nav .active a {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
    background-color: #9b9b9b;
}

#side-menu.nav .active a:hover {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
    background-color: #a2a2a2;
}

#project-name {
    padding-left: 15px;
}

.tab-frame {
    width: 100%;
    height: 600px;
}

#voice-map-frame {

}